<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	<!-- <script src="https://kit.fontawesome.com/b57f704ead.js" crossorigin="anonymous"></script> -->
	
	<!-- <link href="/assets/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet"> -->
	<script defer src="/assets/fontawesome-free-5.15.3-web/js/all.js"></script>
	
	<!--[if lte IE 8]><script src="{{ '/assets/js/html5shiv.js' | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ '/assets/css/ie9.css' | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ '/assets/css/ie8.css'| relative_url }}" /><![endif]-->
	<noscript><link rel="stylesheet" href="{{ '/assets/css/noscript.css' | relative_url }}" /></noscript>
</head>
